In [25]:
import pandas as pd
import os

raw_data_path = r"../data/raw"
raw_data_files = os.listdir(raw_data_path)

csv_files = [file for file in raw_data_files if file.endswith('.csv')]

dataframes = {}
for csv_file in csv_files:
    file_path = os.path.join(raw_data_path, csv_file)
    dataframe_name = csv_file.replace('.csv', '')
    dataframes[dataframe_name] = pd.read_csv(file_path)

def perform_eda(df):
    
    print("First few rows:")
    print(df.iloc[:,:5].head())
    print("\nInfo:")
    df.info()
    print("\nDescribe:")
    print(df.describe())
    print("\nNull values:")
    print(df.isnull().sum())
    print("\nNumber of duplicate rows:")
    print(df.duplicated().sum())

# Perform EDA on each dataframe in the dictionary
for name, df in dataframes.items():
    print(f"EDA for {name}:")
    perform_eda(df)
    print("\n" + "="*50 + "\n")

EDA for donations_facility:
First few rows:
         date                           hospital  daily  blood_a  blood_b
0  2006-01-01      Hospital Sultanah Nora Ismail     87       19       20
1  2006-01-01           Hospital Sultanah Aminah      0        0        0
2  2006-01-01          Hospital Sultanah Bahiyah    208       67       62
3  2006-01-01  Hospital Raja Perempuan Zainab II      0        0        0
4  2006-01-01                    Hospital Melaka      1        0        0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145002 entries, 0 to 145001
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     145002 non-null  object
 1   hospital                 145002 non-null  object
 2   daily                    145002 non-null  int64
 3   blood_a                  145002 non-null  int64
 4   blood_b                  145002 non-null  int64
 5   blood_o                  145002 non-null  int64
 6   blood_ab                 145002 non-null  int64
 7   location_centre          145002 non-null  int64
 8   location_mobile          145002 non-null  int64
 9   type_wholeblood          145002 non-null  int64
 10  type_apheresis_platelet  145002 non-null  int64
 11  type_apheresis_plasma    145002 non-null  int64
 12  type_other               145002 non-null  int64
 13  social_civilian          145002 non-null  int64
 14  social_student           145002 non-null  int64
 15  social_policearmy        145002 non-null  int64
 16  donations_new            145002 non-null  int64
 17  donations_regular        145002 non-null  int64
 18  donations_irregular      145002 non-null  int64
dtypes: int64(17), object(2)
memory usage: 21.0+ MB

Describe:
               daily        blood_a        blood_b        blood_o  \
count  145002.000000  145002.000000  145002.000000  145002.000000
mean       57.087999      14.180784      15.545772      23.800086
std       118.578985      29.979214      32.432160      49.653814
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%        18.000000       4.000000       5.000000       7.000000
75%        62.000000      15.000000      17.000000      26.000000
max      2667.000000     590.000000     842.000000    1048.000000

            blood_ab  location_centre  location_mobile  type_wholeblood  \
count  145002.000000    145002.000000    145002.000000    145002.000000
mean        3.560116        30.985324        26.102674        55.921939
std         7.587019        51.990027        98.351021       115.522112
min         0.000000         0.000000         0.000000         0.000000
25%         0.000000         0.000000         0.000000         0.000000
50%         1.000000         9.000000         0.000000        18.000000
75%         4.000000        41.000000         0.000000        62.000000
max       187.000000      1398.000000      2667.000000      2666.000000

       type_apheresis_platelet  type_apheresis_plasma     type_other  \
count            145002.000000          145002.000000  145002.000000
mean                  0.555185               0.496117       0.114757
std                   2.612464               2.467874       2.614629
min                   0.000000               0.000000       0.000000
25%                   0.000000               0.000000       0.000000
50%                   0.000000               0.000000       0.000000
75%                   0.000000               0.000000       0.000000
max                  38.000000              71.000000     786.000000

       social_civilian  social_student  social_policearmy  donations_new  \
count    145002.000000   145002.000000      145002.000000  145002.000000
mean         48.861298        6.616654           1.610047      19.091392
std          95.957768       28.807340          16.393504      45.570159
min           0.000000        0.000000           0.000000       0.000000
25%           0.000000        0.000000           0.000000       0.000000
50%          16.000000        0.000000           0.000000       3.000000
75%          56.000000        3.000000           0.000000      19.000000
max        2610.000000      765.000000        1578.000000    2506.000000

       donations_regular  donations_irregular
count      145002.000000        145002.000000
mean           30.710459             7.286148
std            65.272190            19.776599
min             0.000000             0.000000
25%             0.000000             0.000000
50%            10.000000             1.000000
75%            31.000000             7.000000
max          1216.000000           670.000000

Null values:
date                       0
hospital                   0
daily                      0
blood_a                    0
blood_b                    0
blood_o                    0
blood_ab                   0
location_centre            0
location_mobile            0
type_wholeblood            0
type_apheresis_platelet    0
type_apheresis_plasma      0
type_other                 0
social_civilian            0
social_student             0
social_policearmy          0
donations_new              0
donations_regular          0
donations_irregular        0
dtype: int64

Number of duplicate rows:
0

==================================================

EDA for donations_state:
First few rows:
         date     state  daily  blood_a  blood_b
0  2006-01-01  Malaysia    525      152      139
1  2006-01-02  Malaysia    227       53       43
2  2006-01-03  Malaysia    112       29       21
3  2006-01-04  Malaysia    391       92       98
4  2006-01-05  Malaysia    582      149      198

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92274 entries, 0 to 92273
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   date                     92274 non-null  object
 1   state                    92274 non-null  object
 2   daily                    92274 non-null  int64
 3   blood_a                  92274 non-null  int64
 4   blood_b                  92274 non-null  int64
 5   blood_o                  92274 non-null  int64
 6   blood_ab                 92274 non-null  int64
 7   location_centre          92274 non-null  int64
 8   location_mobile          92274 non-null  int64
 9   type_wholeblood          92274 non-null  int64
 10  type_apheresis_platelet  92274 non-null  int64
 11  type_apheresis_plasma    92274 non-null  int64
 12  type_other               92274 non-null  int64
 13  social_civilian          92274 non-null  int64
 14  social_student           92274 non-null  int64
 15  social_policearmy        92274 non-null  int64
 16  donations_new            92274 non-null  int64
 17  donations_regular        92274 non-null  int64
 18  donations_irregular      92274 non-null  int64
dtypes: int64(17), object(2)
memory usage: 13.4+ MB

Describe:
              daily       blood_a       blood_b       blood_o      blood_ab  \
count  92274.000000  92274.000000  92274.000000  92274.000000  92274.000000
mean     179.419425     44.568177     48.858140     74.800269     11.188937
std      371.611387     92.908830    100.966891    155.714931     23.200212
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       19.000000      4.000000      5.000000      8.000000      1.000000
50%       57.000000     14.000000     15.000000     24.000000      3.000000
75%      136.000000     34.000000     38.000000     57.000000      9.000000
max     5543.000000   1368.000000   1600.000000   2183.000000    392.000000

       location_centre  location_mobile  type_wholeblood  \
count     92274.000000     92274.000000     92274.000000
mean         97.382448        82.036977       175.754665
std         207.837672       229.434037       365.719449
min           0.000000         0.000000         0.000000
25%           9.000000         0.000000        18.000000
50%          36.000000         0.000000        56.000000
75%          90.000000        41.000000       135.000000
max        4674.000000      3975.000000      5514.000000

       type_apheresis_platelet  type_apheresis_plasma    type_other  \
count             92274.000000           92274.000000  92274.000000
mean                  1.744869               1.559226      0.360665
std                   4.780199               4.578823      4.656968
min                   0.000000               0.000000      0.000000
25%                   0.000000               0.000000      0.000000
50%                   0.000000               0.000000      0.000000
75%                   0.000000               0.000000      0.000000
max                  68.000000              80.000000    786.000000

       social_civilian  social_student  social_policearmy  donations_new  \
count     92274.000000    92274.000000       92274.000000   92274.000000
mean        153.564081       20.795197           5.060147      60.001517
std         320.028500       58.468329          30.416030     129.719838
min           0.000000        0.000000           0.000000       0.000000
25%          17.000000        0.000000           0.000000       3.000000
50%          51.000000        2.000000           0.000000      17.000000
75%         123.000000        9.000000           1.000000      47.000000
max        4572.000000      928.000000        1585.000000    3587.000000

       donations_regular  donations_irregular
count       92274.000000         92274.000000
mean           96.518586            22.899322
std           207.147329            56.989488
min             0.000000             0.000000
25%            10.000000             1.000000
50%            29.000000             5.000000
75%            72.000000            16.000000
max          2947.000000          1263.000000

Null values:
date                       0
state                      0
daily                      0
blood_a                    0
blood_b                    0
blood_o                    0
blood_ab                   0
location_centre            0
location_mobile            0
type_wholeblood            0
type_apheresis_platelet    0
type_apheresis_plasma      0
type_other                 0
social_civilian            0
social_student             0
social_policearmy          0
donations_new              0
donations_regular          0
donations_irregular        0
dtype: int64

Number of duplicate rows:
0

==================================================

EDA for newdonors_facility:
First few rows:
         date                           hospital  17-24  25-29  30-34
0  2006-01-01      Hospital Sultanah Nora Ismail     21      2      2
1  2006-01-01           Hospital Sultanah Aminah      0      0      0
2  2006-01-01          Hospital Sultanah Bahiyah      0      0      0
3  2006-01-01  Hospital Raja Perempuan Zainab II      0      0      0
4  2006-01-01                    Hospital Melaka      0      0      0

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145002 entries, 0 to 145001
Data columns (total 13 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      145002 non-null  object
 1   hospital  145002 non-null  object
 2   17-24     145002 non-null  int64
 3   25-29     145002 non-null  int64
 4   30-34     145002 non-null  int64
 5   35-39     145002 non-null  int64
 6   40-44     145002 non-null  int64
 7   45-49     145002 non-null  int64
 8   50-54     145002 non-null  int64
 9   55-59     145002 non-null  int64
 10  60-64     145002 non-null  int64
 11  other     145002 non-null  int64
 12  total     145002 non-null  int64
dtypes: int64(11), object(2)
memory usage: 14.4+ MB

Describe:
               17-24          25-29          30-34          35-39  \
count  145002.000000  145002.000000  145002.000000  145002.000000
mean        9.004365       2.962332       2.229135       1.815658
std        26.974429       8.415149       5.953659       4.858478
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         1.000000       0.000000       0.000000       0.000000
75%         6.000000       3.000000       2.000000       2.000000
max      1233.000000     391.000000     363.000000     409.000000

               40-44          45-49          50-54          55-59  \
count  145002.000000  145002.000000  145002.000000  145002.000000
mean        1.337499       0.911498       0.548013       0.240866
std         3.787718       2.677387       1.682874       0.836828
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         1.000000       1.000000       0.000000       0.000000
max       356.000000     226.000000     161.000000      63.000000

               60-64          other          total
count  145002.000000  145002.000000  145002.000000
mean        0.020924       0.021096      19.091385
std         0.170081       0.286722      45.570153
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       3.000000
75%         0.000000       0.000000      19.000000
max        22.000000      33.000000    2506.000000

Null values:
date        0
hospital    0
17-24       0
25-29       0
30-34       0
35-39       0
40-44       0
45-49       0
50-54       0
55-59       0
60-64       0
other       0
total       0
dtype: int64

Number of duplicate rows:
0

==================================================

EDA for newdonors_state:
First few rows:
         date     state  17-24  25-29  30-34
0  2006-01-01  Malaysia    124     31     31
1  2006-01-02  Malaysia     16     15     11
2  2006-01-03  Malaysia      1      2      1
3  2006-01-04  Malaysia    171     35     27
4  2006-01-05  Malaysia    219     41     22

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92274 entries, 0 to 92273
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    92274 non-null  object
 1   state   92274 non-null  object
 2   17-24   92274 non-null  int64
 3   25-29   92274 non-null  int64
 4   30-34   92274 non-null  int64
 5   35-39   92274 non-null  int64
 6   40-44   92274 non-null  int64
 7   45-49   92274 non-null  int64
 8   50-54   92274 non-null  int64
 9   55-59   92274 non-null  int64
 10  60-64   92274 non-null  int64
 11  other   92274 non-null  int64
 12  total   92274 non-null  int64
dtypes: int64(11), object(2)
memory usage: 9.2+ MB

Describe:
              17-24         25-29         30-34         35-39         40-44  \
count  92274.000000  92274.000000  92274.000000  92274.000000  92274.000000
mean      28.299434      9.310185      7.005852      5.706353      4.203568
std       71.789636     21.136286     15.793719     13.186957     10.266601
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        1.000000      0.000000      0.000000      0.000000      0.000000
50%        5.000000      2.000000      2.000000      1.000000      1.000000
75%       21.000000      7.000000      6.000000      5.000000      4.000000
max     3285.000000    441.000000    380.000000    417.000000    360.000000

              45-49         50-54         55-59         60-64         other  \
count  92274.000000  92274.000000  92274.000000  92274.000000  92274.000000
mean       2.864707      1.722327      0.757006      0.065761      0.066303
std        7.316511      4.569605      2.195044      0.333535      0.532823
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        1.000000      0.000000      0.000000      0.000000      0.000000
75%        2.000000      1.000000      1.000000      0.000000      0.000000
max      231.000000    177.000000     70.000000     22.000000     33.000000

              total
count  92274.000000
mean      60.001496
std      129.719813
min        0.000000
25%        3.000000
50%       17.000000
75%       47.000000
max     3587.000000

Null values:
date     0
state    0
17-24    0
25-29    0
30-34    0
35-39    0
40-44    0
45-49    0
50-54    0
55-59    0
60-64    0
other    0
total    0
dtype: int64

Number of duplicate rows:
0

==================================================

In [ ]:
## The aggregate data is clean with no duplicates or nulls, ready for in-depth analysis of donation trends and patterns across different demographics and timeframes.